.body {
  margin: 0;
  padding: 0;
  background-color: lightcoral;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table, th, tr, td {
  border: 2px solid black;
}

#input{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.5rem;
}

input {
  border: none;
  border-radius: 10px;
  width: 300px;
  font-size: 20px;
  padding: 5px;
}

label {
  font-size: 20px;
  padding: 10px;
  font-weight: bold;
}

.green {
  background-color: lightgreen;
}

.red {
  background-color: tomato;
}

button {
  background-color: dodgerblue;
  color: white;
}

#del{
  width: 100px;
  height: 50px;
}

.btn {
  border: none;
  margin-top: 20px;
  border-radius: 10px;
  font-size: 20px;
}

#logo {
  font-size: 50px;
  color: dodgerblue;
  font-weight: bold;
  text-align: center;
}

#table {
  margin-left: auto;
  margin-right: auto;
  font-size: 30px;
}